@import '../../base.scss';

.ClanBadge {
  background: rgba(0,0,0,0.25);
  border-radius: 1rem;
  margin: 0.5rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  max-width: 480px;
  border: 3px solid rgba(0,0,0,0.25);
  padding-bottom: 1rem;
}

.clan__trophies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  padding-bottom: 0;
  flex-wrap: wrap;
}

.clan__trophies-ladder,
.clan__trophies-war {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clan__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.small_icon {
  max-height: 2rem;
  margin: 0.25rem;
  font-size: 1.5rem;
  color: $midBlue;
}
.fa-trophy {
  color: $yellow;
}
.fa-user-plus {
  color: $green;
}
.clan__name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
}
.clan__name h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  color: $cream;
  text-shadow: 2px 2px 2px #000;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
  background: #3b679e; /* Old browsers */
  background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  text-shadow:
    -1px 1px 0px darken($midBlue, 33%),
    -2px 2px 0px darken($midBlue, 33%),
    -3px 3px 0px darken($midBlue, 33%);
    .clan__tag {
      color: #CDF;
      padding-top: 0.5rem;
    }
}

.clan__name_text {
  margin-left: 1rem;
}
.clan__badge {
  max-height: 4rem;
}
.clan__description {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 1rem;
}

.clan__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clan__details div {
  margin-left: 1rem;
}

h1 p.clan__tag {
  font-size: 1rem;
  color: #AAA;
}