@import '../../base.scss';

$button-font-size:24px;

html * {
  box-sizing: border-box;
}

.Button {
  cursor: pointer;
}

.button {
  width: 100%;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: $midBlue;
  border-radius: 0.5em;
  box-shadow:
    inset 0 1px 1px lighten($midBlue, 30%),
    inset 0 2px 1px lighten($midBlue, 20%),
    inset 0 3px 1px lighten($midBlue, 10%),
    inset 0 4px 0px lighten($midBlue, 10%),
    0 1px 1px darken($midBlue, 15%),
    0 2px 1px darken($midBlue, 15%),
    0 3px 1px darken($midBlue, 15%),
    0 4px 1px darken($midBlue, 15%),
    0 5px 1px darken($midBlue, 15%),
    0 6px 1px darken($midBlue, 15%),
    0 7px 1px darken($midBlue, 15%),
    0 8px 0px darken($midBlue, 15%),
    0 9px 2px rgba(0,0,0, 20%)
    ;
  color: #FFF;
  font-family: 'Skranji';
  -webkit-appearance: none;
  border-width: 0;
  transition: all .05s ease-in-out;
  &:active, &:focus {
    outline: 0;
  }
  &:active {
    transform: scale3d(0.95, 0.95, 0.95);
  }
}

.button__inner {
  display: block;
  position: relative;
  padding: 1em 2.5em 1.2em 2.5em;
  font-size: $button-font-size;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.25em;
  box-shadow: 
    0 1px 2px darken($midBlue, 7.5%),
    0 1px 3px darken($midBlue, 7.5%);
    ;
  text-shadow:
    -1px 1px 0px darken($midBlue, 33%),
    -2px 2px 0px darken($midBlue, 33%),
    -3px 3px 0px darken($midBlue, 33%)
    ;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: .1em; right: .1em; bottom: 50%; left: .1em;
    background: rgba(255,255,255, .20);
    border-radius: .2em;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    top: .1em;
    right: .1em;
    display: block;
    height: 0.5em;
    width: 0.5em;
    border-top-left-radius: 5%;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 100%;
    background: rgba(255,255,255, 0.35);
    z-index: 3;
  }  
}

