@import '../../base.scss';


.button {
  text-shadow: -1px -1px 0px #003366,
               0px -1px 0px #003366,
               1px -1px 0px #003366,
               1px 0px 0px #003366,
               -1px 0px 0px #003366,
               -1px 1px 0px #003366,
               1px 1px 0px #003366,
               1px 2px 0px #003366,
               -1px 2px 0px #003366;
  display: inline-block;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-weight: bold;
  text-decoration: none;
  margin: 0 22px;
  box-shadow: 0px 1.5px 0px 0px rgba(0,0,0,0.3);
  position: relative;
  background-color: #0058ac;
  border-radius: 0.5rem;
}
.Button,
.button:before {
  border-radius: 8px;
}
.button > span {
  display: block;
  position: relative;
  padding: 8px 32px;
  margin: 5px 4px 8px 4px;
  border-radius: 6px;
  border-bottom: 2px solid rgba(0,0,128,0.3);

  background: linear-gradient(to bottom, rgba(66, 64, 64, 0.4) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.2) 51%, rgba(255,255,255,0.2) 100%);
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 6px;
  left: 0;
  overflow: hidden;

  border: 0.5px solid;
  border-top-width: 3px;

  border-color: #6ce0fc;
  background-color: #4cacff;
}
.button > span:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,.7);
  width: 7px;
  height: 7px;
  border-radius: 3px 6px;
}

.button:hover {
  color: #fff;
}