.App {
  text-align: center;
}
@font-face {
  font-family: 'scmagic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/scmagic.ttf') format('truetype');
}

.App * {
  font-family: 'scmagic';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
