@import './base.scss';

.App {
  width: 100%;
  background: url('./assets/images/background.jpg') repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App * {
  font-family: 'scmagic';
}

.App p,
.App h1,
.App h2,
.App h3,
.App span {
  color: $white;
}

.font-override.scmagic {
  font-family: 'scmagic';
}

a,
a:visited,
a:active,
a:hover,
a:focus {
  color: $white;
  text-decoration: none;
}